page-fragma {
    $text-input-placeholder-color:(#fff);
   input.searchbar-input {
        background-color: transparent !important;
    }

    .scroll {
        height: 100%
    }
 
    #map {
        width: 100%;
        height: 30%;
    }
  
}
