page-categorias {
    $searchbar-md-input-search-icon-size: 20px;
    .button-md {
        height: 150px;
        padding: 11% !important;
        margin: 1.4rem 0.5rem !important;
    }

    img {
        width: 74px !important;
    }

    .ion-android-bar:before,.ion-fork:before{
        font-size: 100px;
    }

    .ion-android-cart:before,.ion-film-marker:before {
        font-size: 92px;
    }

    .ion-pricetags:before {
        font-size: 82px;
    }

    .ion-heart:before {
        font-size: 87px;
    }

    .searchbar-input {
        height: 80px !important;
        opacity: 0.5;
        // background-color: transparent;
    }

    .searchbar-md {
        padding: 0px !important;
    }

    .searchbar-md .searchbar-search-icon{
        left: 160px !important;
        zoom:2.0;
        color: transparent;
    }

}
